<div class="sixteen columns clearfix collection_nav">
  <div class="center">
  	<img src="{{ '960x460-H1-Pairings.png' | file_url }}" alt="{{ blogs.pairings.title }}">
  </div>
</div>

<div class="row">
  <div class="sixteen columns">
    <h1 class="center">{{ blogs.pairings.title }}</h1>
    <div class="center">
      <a href="{{ pages.pairings.url }}">Sort by Cheese</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="{{ pages.pairings-by-jam.url }}">Sort by Jam</a>
    </div>
  </div>
</div>

<div class="sixteen columns page">
  {{ page.content }}
</div>