{% assign gift_set_flavor_metafield = flavor_numeral | downcase | prepend: 'gift-set-flavor-' %}

{% if product.metafields.prod-details[gift_set_flavor_metafield] == blank %}
<div>
  <label for="flavor{{ flavor_numeral }}">Choose {{ flavor_ordinal }} Flavor</label>
  <select required="required" id="flavor{{ flavor_numeral }}" name="properties[Flavor {{ flavor_numeral }}]" class="form-control required" data-error="Please choose a {{ flavor_ordinal | downcase }} flavor!">
    <!--<option value="">- Select -</option>-->
    <option value="Cardamom Knows Zest">Cardamom Knows Zest</option>
    <option value="Midnight In Pearis">Midnight In Pearis</option>
    <option value="To Peach His Own">To Peach His Own</option>
    <option value="Rose To The Grindstone">Rose To The Grindstone</option>
    <option value="Sublemonal Message">Sublemonal Message</option>
  </select>
</div>
{% else %}
<input type="hidden" id="flavor{{ flavor_numeral }}" name="properties[Flavor {{ flavor_numeral }}]" value="{{ product.metafields.prod-details[gift_set_flavor_metafield] }}">
{% endif %}