{% assign gift_set_flavor_metafield = flavor_numeral | downcase | prepend: 'gift-set-flavor-' %}

{% if product.metafields.prod-details[gift_set_flavor_metafield] == blank %}
<div>
  <label for="flavor{{ flavor_numeral }}">Choose {{ flavor_ordinal }} Flavor</label>
  <select required="required" id="flavor{{ flavor_numeral }}" name="properties[Flavor {{ flavor_numeral }}]" class="form-control required" data-error="Please choose a {{ flavor_ordinal | downcase }} flavor!">
    <!--<option value="">- Select -</option>-->
    {% for gift_set_product in collections["create-your-own-gift-set-products"].products %}
      {% for gift_set_product_variant in gift_set_product.variants %}
        {% if gift_set_product_variant.option1 == "5 oz." and gift_set_product_variant.available %}
        <option value="{{ gift_set_product.title }}">{{ gift_set_product.title }}</option>
        {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </select>
</div>
{% else %}
<input type="hidden" id="flavor{{ flavor_numeral }}" name="properties[Flavor {{ flavor_numeral }}]" value="{{ product.metafields.prod-details[gift_set_flavor_metafield] }}">
{% endif %}